- listings = DNSBL::Client.new.lookup(Reputation.local_ip)

- if listings.empty?
  %p This server is not listed on any known blacklists
- else
  %p.text-error Unfortunately, this server is listed on some blacklists. That will likely severely impact your ability to send email.
  %table.table
    %thead
      %tr
        %th Blacklist
        %th Result
    %tbody
      - listings.each do |listing|
        %tr
          %td= listing.dnsbl
          %td= listing.meaning
  %p
    Your server IP address
    %strong= Reputation.local_ip
  %p
    (You will need this if you want to check things by hand)