.span3
  %h3 Last 24 hours
  = render "main/status_counts_period", stats: @stats_today, link: true, loading: loading

.span3.offset3
  %h3 Last 7 days
  = render "main/status_counts_period", stats: @stats_this_week, link: true, loading: loading
