.span3
  %h3 Today
  = render "main/status_counts_period", deliveries: Delivery.today, link: true

.span3.offset3
  %h3 Last 7 days
  = render "main/status_counts_period", deliveries: Delivery.this_week, link: true
