%p.lead
  Cuttlefish is an easy to setup and easy to use open source transactional email server

%p
  It ensures that your emails arrive at their destination by continuously monitoring the deliverability
  of your emails.

%p
  To send an email via Cuttlefish simply point your application to send emails via SMTP to port #{Rails.configuration.cuttlefish_smtp_port} on this machine.
