%h2
  Cuttlefish &mdash; lovely transactional email

%p
  Ensure your emails arrive at their destination. And a whole lot more&hellip;

%p= link_to "How to send email via Cuttlefish", documentation_path

.row#status-counts
  = render "main/status_counts"
