.page-header
  %h1 Dashboard
  %p Summary of emails sent and received today and in the last week. Updates every few seconds.

%p= link_to "How to send email via Cuttlefish", documentation_path

.row#status-counts
  = render "main/status_counts"
