.page-header
  %h1 Teams
  %p
    Teams are self-contained groups of administrators who all have access to the same set of apps
    but can't see apps or emails belonging to other teams.
    A team most likely corresponds to an organisation.


%ul
  - @teams.each do |team|
    %li
      = pluralize(team.admins.size, "administrator")
      (#{team.admins.map{|a| a.display_name}.to_sentence})
