[Unit]
Description=Cuttlefish Web
After=network.target
Documentation=
PartOf=cuttlefish.service

[Service]
User=cuttlefish
EnvironmentFile=/home/cuttlefish/.env
WorkingDirectory=/home/cuttlefish
ExecStart=/usr/bin/bundle exec puma --config config/puma.rb
KillMode=process
Restart=on-failure
CPUAccounting=true

[Install]
WantedBy=multi-user.target
WantedBy=cuttlefish.service
