# This service does nothing, but it links other services.
[Unit]
Description=Cuttlefish

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

