- content_for :title, "Email Clients"

.page-header
  %h1= yield :title
  %p
    Email clients that people are using, figured out from the user agent of open events.
    Currently, it doesn't detect web mail clients other than Gmail.

  %p
    Note that if people have image loading disabled or are using a text-only
    email clients they are not included in these results.
    Also, only the first open event is included for each email.
