%table.table.table-condensed
  %thead
    %tr
      %th Time
      %th DSN
      %th Status
  %tbody
    - delivery.delivery_events.each do |event|
      %tr
        %td
          = time_ago_in_words(event.time)
          ago
        %td= event.dsn
        %td.status= event.extended_status
