%h1 Email blacklist

= paginated_section @black_lists, renderer: PagerRenderer, previous_label: image_tag("pager/previous.png", size: "13x14"), next_label: image_tag("pager/next.png", size: "13x14"), text: "Address" do
  %table.table.table-striped
    %thead
      %tr
        %th Email address
        %th Reason blacklisted
        %th When
    %tbody
      - @black_lists.each do |black_list|
        %tr
          %td= black_list.address.text
          %td
            - unless black_list.caused_by_delivery.subject.blank?
              = link_to truncate(black_list.caused_by_delivery.postfix_log_lines.first.extended_status, length: 160), black_list.caused_by_delivery
          %td
            = time_ago_in_words(black_list.caused_by_delivery.postfix_log_lines.first.created_at)
            ago
