%h1 Email blacklist

= paginated_section @black_lists, renderer: PagerRenderer, previous_label: image_tag("pager/previous.png", size: "13x14"), next_label: image_tag("pager/next.png", size: "13x14"), text: "Address" do
  %table.table.table-striped
    %thead
      %tr
        %th Email address
        %th Email that caused it to be blacklisted
        %th When
    %tbody
      - @black_lists.each do |black_list|
        %tr
          %td= black_list.address.text
          %td
            - unless black_list.caused_by_delivery.subject.blank?
              = link_to black_list.caused_by_delivery.subject, black_list.caused_by_delivery
          %td
            -# This is when the email was sent not when it was blacklisted
            -# TODO Fix this
            = time_ago_in_words(black_list.caused_by_delivery.created_at)
            ago
