<div class="row">
  <div class="span3">
    <div class="login-icon">
      <img src="/assets/login/icon.png" alt="Welcome to Mail App">
      <h4>Welcome to <small>Cuttlefish</small></h4>
    </div>
  </div>

  <div class="span6">
    <div class="login-form">
      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Enter your email" id="login-name">
        <label class="login-field-icon fui-man-16" for="login-name"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
        <label class="login-field-icon fui-lock-16" for="login-pass"></label>
      </div>

      <a class="btn btn-primary btn-large btn-block" href="#">Login</a>
      
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>