.page-header
  %h3
    Emails sent from
    = @address.text

.row
  .span3
    %p
      = link_to to_address_path(@address) do
        Switch to emails sent
        %strong to
        this address
    = render "main/status_counts_period", deliveries: @address.deliveries_sent
= render partial: "deliveries/to", locals: {deliveries: @deliveries}
