.page-header
  %h3
    Emails sent from
    = @address.text

.row
  .span3
    = render "main/status_counts_period", stats: @address.emails_sent.group(:status).count

= render partial: "emails/emails_to", locals: {emails: @emails}
