.page-header
  %h3
    Emails sent to
    = @address.text

.row
  .span3
    %p
      = link_to from_address_path(@address) do
        Switch to emails sent
        %strong from
        this address
    = render "main/status_counts_period", deliveries: @address.deliveries_received

= render partial: "deliveries/from", locals: {deliveries: @deliveries}
