.page-header
  %h3
    Emails sent to
    = @address.text

.row
  .span3
    = render "main/status_counts_period", stats: @address.emails_received.group("emails.status").count

= render partial: "deliveries/from", locals: {deliveries: @deliveries}
