.page-header
  %h1 Apps

%p
  All emails are sent through apps, which represent the application that sends the email.
  Each App has its own settings and its own smtp authentication settings to contact the
  Cuttlefish SMTP server.

- if policy(:app).new?
  %p
    = link_to "New App", new_app_path, class: "btn btn-primary"

%table.table
  %thead
    %tr
      %th
        Name
  %tbody
    - @apps.each do |app|
      %tr
        %td= link_to app.name, app
        %td
          - unless app.url.blank?
            = link_to "Visit app", app.url
