// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
  text-align: center;
  h1 {
    font-family: 'Leckerli One', cursive;
    font-size: 40px;
  }
  .btn {
    margin-top: 50px;
  }
}