// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
  text-align: center;
  h1 {
    font-family: 'Leckerli One', cursive;
    font-size: 40px;
  }
  .btn {
    margin-top: 50px;
  }
}

.beta {
  padding-top: 40px;
  text-align: center;
}

#screenshots {
  text-align: center;
  h2 {
    padding-top: 40px;
  }
  img {
    padding-top: 40px;
  }
}

#soon {
  text-align: center;
  padding-bottom: 40px;
  h2 {
    padding-top: 40px;
  }
  li {

  }  
}