<p><%= @resource.invited_by.display_name %> invites you to Cuttlefish - an easy to use transactional email server with a lovely user interface</p>

<p>Accept the invitation through the link below.</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), "#{@accept_url}?#{ {invitation_token: @token}.to_query }" %></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
