- model_class = Email
.page-header
  %h1 Most recent 10 emails
%table.table.table-striped
  %thead
    %tr
      %th To
      %th= model_class.human_attribute_name(:created_at)
  %tbody(data-provides="rowlink")
    - @emails.each do |email|
      %tr
        %td= link_to email.to_as_string, email_path(email), :class => "rowlink"
        %td=l email.created_at
