- model_class = Email
.page-header
  %h1 Recent emails
= paginated_section @emails do
  %table.table.table-striped
    %thead
      %tr
        %th To
        %th Received
    %tbody(data-provides="rowlink")
      - @emails.each do |email|
        %tr
          %td= link_to truncate(email.to_as_string, length: 50), email_path(email), :class => "rowlink"
          %td
            = time_ago_in_words(email.created_at)
            ago
