%p
  Emails today
  %span.badge.badge-success
    = Email.no_emails_sent_today
-#
  %ul.nav.nav-list
    %li.nav-header Sidebar
    %li= link_to "Link 1", "/path1"
    %li= link_to "Link 2", "/path2"
    %li= link_to "Link 3", "/path3"
